<launch>

    <!-- Launch the simulation environment first -->
    <include file="$(find minilab_simulation)/launch/minilab_simulation.launch"/>

    <!-- SLAM avec gmapping -->
    <include file="$(find minilab_simulation)/launch/gmapping.launch"/>

    <!-- Launch teleop node for converting joy commands to robot velocity -->
    <node pkg="minilab_teleop" type="teleop_node.py" name="minilab_teleop" output="screen">
        <param name="linear_scale" value="0.5" />
        <param name="angular_scale" value="1.0" />
    </node>

    <!-- Launch joy_node -->
    <node name="joy_node" pkg="joy" type="joy_node"/>
    
    <!-- Planificateur de chemin -->
    <node name="path_planner" pkg="minilab_navigation" type="path_planner_node.py" output="screen"/>
    
    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find minilab_navigation)/config/path.rviz"/>
</launch>